:root {
    --color-background: rgb(249, 242, 233);
    --color-bordo: rgb(192, 57, 43);
    --color-azul: rgb(44, 62, 80);
    --color-dorado: rgb(238, 219, 193);
}

h1, h2, .title {
  font-family: 'Playfair Display', serif;
}

.titulo-elementos {
    color: var(--color-azul);
}

#titulo-principal, #boton-chefs, #boton-recetas {
    color: var(--color-dorado);
    text-shadow: 2px 2px 2px rgb(98, 52, 15);
}

#titulo-principal {
    font-size: 3rem;
}

.tabs{
    flex-wrap: wrap;
}

.card {
    border-radius:12px;
    overflow: hidden;
}

#division-recetas-chefs {
    background-color: var(--color-bordo);
}

.tarjeta-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.buscador-elemento {
  height: 2.75em; 
}

.boton-filtro {
  padding: 0;
  width: 2.75em; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.elemento-principal {
  padding-top: 3rem;
}

.icono-busqueda, .icono-filtro {
  max-height: 1.4em;
  width: auto;
}

#hero-principal {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/rata1-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nombre-recetas{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card:hover {
  transform: translateY(-6px);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #fefaf6;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  color: #555;
}

#modal-cuerpo {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;  
}

.ingredientes li {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}
.ingredientes li > input[type="number"] {
    width: 60px;
}
.required {
    color: red;
    margin-left: 4px;
}

.boton-pagina-navbar{
    color: white
}

.tabla-ingredientes {
    background-color: var(--color-bordo);
}

.autor-receta{
    color: var(--color-azul);
    text-decoration: none;
}

.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

body{
    background-color: var(--color-background);
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}